<script type="text/javascript">
  bzork_options = {
    story: 'stories/<%= @game %>'
  };
</script>
<div id="game">
  <div id="status-line">
    <span class="title"></span>
    <span class="score"></span>
  </div>
  <div id="game-window"></div>
  <div id="input-window"></div>
</div>
